@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-raleway{
    font-family: 'Raleway', 'sans-serif';
}

/* .arrow::before{
    content: '\2192';
    color: white;
    font-size: medium;
} */

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }

  .speed::before{
    content: "\F4C5";
  }